<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Suite"  >

    <parameter name="suiteOwner" value="qpsdemo"/>
    <parameter name="jenkinsJobName" value="web-test-start"/>
    <parameter name="jenkinsJobType" value="web"/>
    <parameter name="jenkinsEmail" value="test@qaprosoft.com"/>
    <parameter name="jenkinsEnvironments" value="DEMO"/>

    <test name="All web tests" parallel="methods" thread-count="4">
        <classes>
            <class name="com.qaprosoft.carinademo.web.LoginTest"/>
            <class name="com.qaprosoft.carinademo.web.CheckoutTest"/>
            <class name="com.qaprosoft.carinademo.web.MenuTest"/>
            <class name="com.qaprosoft.carinademo.web.ProductTest"/>
        </classes>
    </test>
</suite>