<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Suite"  >
    <test name="All web tests" parallel="methods" thread-count="4">
        <classes>
            <class name="com.qaprosoft.carinademo.web.LoginTest"/>
            <class name="com.qaprosoft.carinademo.web.CheckoutTest"/>
            <class name="com.qaprosoft.carinademo.web.MenuTest"/>
            <class name="com.qaprosoft.carinademo.web.ProductTest"/>
        </classes>
    </test>
</suite>